.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card button {
    margin-left:10px;
}
.card h2 {
    margin-top: 10px;
}
.valor {
    font-size: 3rem;
}
h1 {
    text-align: center;
}